{% extends '_layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            {% if authed_user.is_admin %}
                <a class="btn btn-default" href="{{url_for('sites_add')}}"><i class="fa fa-plus fa-fw"></i>&nbsp;Add Site</a>
            {% else %}
                <a class="btn btn-default disabled"><i class="fa fa-plus fa-fw"></i>&nbsp;Add Site</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th><i class="fa fa-pencil fa-fw"></i></th>
                        <th>Name</th>
                        <th>Testing URL</th>
                        <th>Production URL</th>
                        <th>Theme URL</th>
                    </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>
                            {% if authed_user.can_access(site.slug) or authed_user.is_admin %}
                                <a href="{{ url_for('sites_edit', slug=site.slug) }}"><i class="fa fa-pencil fa-fw"></i></a>
                            {% else %}
                                <i class="fa fa-pencil fa-fw"></i>
                            {% endif %}
                        </td>
                        <td>{{site.name}}</td>
                        <td><a href="{{site.testing_url}}" target="_blank">{{site.testing_url}}</a></td>
                        <td><a href="{{site.production_url}}" target="_blank">{{site.production_url}}</a></td>
                        <td><a href="{{site.theme_url}}" target="_blank">{{site.theme_url}}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
