{% extends '_layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-6">Site</th>
                        <th class="col-lg-6">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{site.name}}</td>
                        <td>
                            {% if site.slug in tasks %}
                                <a class="btn btn-primary disabled" href="{{url_for('sites_deploy', slug=site.slug)}}">Deploying&nbsp;<i class="fa fa-spinner fa-spin fa-fw"></i></a>
                            {% else %}
                                <a class="btn btn-primary" href="{{url_for('sites_deploy', slug=site.slug)}}">Deploy</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
