{% extends '_layout.html' %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for site in sites %}
                    <tr>
                        <td>{{site.name}}</td>
                        <td><a class="btn btn-primary" href="{{url_for('sites_deploy', slug=site.slug)}}">Deploy</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
